<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>GNARL G.R.I.D.</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/scoreboard.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/grid.js"></script>

	<script type="text/javascript">
      $(document).ready(function() {
        g = new Grid({{ben_teams|safe}}, {{brian_teams|safe}}, {{interval}});
        g.start();
      });
	</script>
  </head>

  <body>
	<div class="box legend loss4"><strong>-14 &gt; &Delta; </strong></div>
	<div class="box legend loss3"><strong>-14 &le; &Delta; &lt; -7</strong></div>
	<div class="box legend loss2"><strong>-7 &le; &Delta; &lt; -3</strong></div>
	<div class="box legend loss1"><strong>-3 &le; &Delta; &lt; 0</strong></div>
	<div class="box legend tied"><strong>Tied</strong></div>
	<div class="box legend win1"><strong>0 &lt; &Delta; &le; 3</strong></div>
	<div class="box legend win2"><strong>3 &lt; &Delta; &le; 7</strong></div>
	<div class="box legend win3"><strong>7 &lt; &Delta; &le; 14</strong></div>
	<div class="box legend win4"><strong>&Delta; &gt; 14</strong></div>
	<div class="clear"></div>

	<div id="ben_games" class="games">
	</div>

    <div class="sidebar box">
      <div id="ben_wins">
        <span class="name">Ben</span><br>
        <span class="current">0</span> / <span class="wins">0</span><br>
      </div>
      <span class="good_guy_title">Good Guy:</span><br>
      <span class="good_guy_choice good_guy">Ben</span>
	  <span class="good_guy_choice bad_guy">Brian</span><br>
      <div id="brian_wins">
        <span class="name">Brian</span><br>
        <span class="current">0</span> / <span class="wins">0</span><br>
      </div>
    </div>

	<div id="brian_games" class="games">
	</div>
  </body>
</html>
